.sub-menu-li {
  /deep/ .collapse-transition {
    -webkit-transition: 0.2s height ease-in-out, 0.2s padding-top ease-in-out,
      0.2s padding-bottom ease-in-out;
    transition: 0.2s height ease-in-out, 0.2s padding-top ease-in-out,
      0.2s padding-bottom ease-in-out;
  }
}
.menu-container {
  border-right: 1px solid #e8e8e8;
}

.menu-item {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.menu-item:hover {
  position: relative;
  background: #f0faff;
  color: #2d8cf0;
  z-index: 2;
}
.menu-item:hover:after {
  content: "";
  display: block;
  width: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #2d8cf0;
}
.menu-item-title {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 20px;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.3s;
}
.submenu-title {
  height: 40px;
  line-height: 40px;
  padding-right: 34px;
}
.submenu-title-icon {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 16px;
  transition: transform 0.5s;
}
.ivu-icon:not(.submenu-title-icon) {
  font-size: 20px;
  margin-right: 10px;
  margin-left: -6px;
  transform: translate3d(0,0,0);
}
.submenu-title:hover {
  position: relative;
  background: #f0faff;
  color: #2d8cf0;
  z-index: 2;
}
.submenu-title:hover:after {
  content: "";
  display: block;
  width: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #2d8cf0;
}
.menu-item-active {
  position: relative;
  color: #2d8cf0;
  background: #f0faff;
  z-index: 2;
}
.menu-item-active::after {
  content: "";
  display: block;
  width: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #2d8cf0;
}
.icon-arrow {
  transform: rotate(180deg);
  transform-origin: center center;
}
