.sub-menu-li {
  /deep/ .collapse-transition {
    -webkit-transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out,
      0.3s padding-bottom ease-in-out;
    transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out,
      0.3s padding-bottom ease-in-out;
  }
}


.menu-item {
  height: 40px;
  line-height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}
.menu-item:hover {
  color: #1890ff;
}
.menu-item-title {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 20px;
    white-space: nowrap;
    cursor: pointer;
    transition: color .3s;
}
.submenu-title {
    height: 40px;
    line-height: 40px;
    padding-right: 34px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.submenu-title-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform:translate(-50%,-50%);
    transition: transform .5s
}
.menu-item-active {
  position: relative;
  color: #2d8cf0;
  background: #f0faff;
  z-index: 2;
}
.menu-item-active::after {
  content: "";
  display: block;
  width: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #2d8cf0;
}